.aboutUsimg{
    width: 100%;
    margin-left: 12px;
}
/* 
@media (max-width:1283px) {
    .aboutUsimg{
        height: 500px;
        width: 750px;
        display: block;
        margin-left: auto;
    }
} */