body {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
}
.header {
  padding: 5px;
  width: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.headerButton {
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  justify-content: center;
}

.logo {
  background-image: url(assets/abcinc.jpeg);
  width: 100%;
  height: 140px;
  background-size: cover;
}


.hero_section {
  background-image: url(assets/hero_section.jpeg);
  height: 200px;
  background-size: cover;
  background-position: 50%;
  background-repeat: none;
}
.content{
  flex-grow: 1;
}


.footer {
  bottom:0;
  background-color: black;
  padding: 5px;
  /* width: 100vw; */
  flex-grow: 1;
}
.footerContent {
  color: white;
}

.active {
  background-color: white;
  color: black;
}
