body{
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
.header{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
}

.headerButton{
  height:40%;
  width:10%;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  justify-content: center;
}

.logo{
  background-image: url(assets/abcinc.jpeg);
  width: 90px;
  height: 90px;
  background-size: cover;
}

.hero_section{
  background-image: url(assets/hero_section.jpeg);
  height: 200px;
  background-size: cover;
  background-position: 50%;
  background-repeat: none
}

.footer{
  height: 130px;
  /* width: 100%; */
  background-color: black;
  padding: 5px;
  position: absolute;
  bottom: 0px;
}
.footerContent{
  color: white;
}

.active{
  background-color: white;
  color: black;
}