body {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
}
.header {
  z-index: 999;
  padding: 5px;
  width: 250px;
  background-color: black;
  display: flex;
  flex-direction: column;
  position:fixed;
  height: 100vw;
}

.headerButton {
  color: white;
  display: flex;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  justify-content:start;
  padding: 30px;
  font-size: larger;
  border: solid white;
  margin:3px
}

.logo {
  background-image: url(assets/abcinc.jpeg);
  width: 100%;
  height: 217px;

  background-size: cover;
  margin-bottom: 30px;
}



.content{
  margin-left: 250px;
  width: 100%;
  position: relative; 

}


.footer {
  bottom:0;
  background-color: black;
  padding: 5px;
  flex-grow: 1;
  margin-left: 260px;
}
.footerContent {
  color: white;
}

.active {
  background-color: white;
  color: black;
}
